# Lists

In [33]:
data = [2,3,4,3,5,6,8]


print("Length of list: ",len(data) )# O(1)
print(data[2])   # O(1)

Length of list:  7
4

In [34]:
data.count(2) #O(n)

1

In [35]:
data.index(2) #O(k+1)

0

In [36]:
3 in data #O(k+1) and other relational operators

True

In [37]:
data[2:4] #O(4-3+1)

[4, 3]

In [38]:
data.append(2) #O(1)

In [39]:
#len(data) = 8 = n
data.insert(7,10) #O(n-k+1) = O(8-7+1)

In [40]:
data.pop() #O(1)

2

In [41]:
del data[0] #and data.pop(0) O(n-index)

In [42]:
data.remove(3) #O(n)

In [43]:
data.reverse() #O(n)

In [44]:
data.sort() #O(nlogn)

In [45]:
print("List 1 : {}".format(data))

data2 = ["jack","Jill","Harry"]

data.extend(data2) #O(len(n2))

print("New list: {}".format(data))

List 1 : [3, 4, 5, 6, 8, 10]
New list: [3, 4, 5, 6, 8, 10, 'jack', 'Jill', 'Harry']

In [48]:
#List comprehension
[s+str(" Carter") for s in data2]

['jack Carter', 'Jill Carter', 'Harry Carter']

In [51]:
dl = [2,3,4,5,6,7,8,9,0,10]
[x for x in dl if x%2==0]

[2, 4, 6, 8, 0, 10]

In [53]:
[x if x%3==0 else "#" for x in dl]

['#', 3, '#', '#', 6, '#', '#', 9, 0, '#']

# Strings

In [61]:
#getting only letters from a string
[t for t in "L94%t#3we@R" if t.isalpha() ] #O(n)

['L', 't', 'w', 'e', 'R']